// Layout 
.box {
    padding: 10px;
}
.sitename {
    padding: 10px;
}
.credits {
    padding: 10px;
}
.container {
    margin: 0 auto;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@media (max-width: (map-get($breakpoints, medium) - 1)) {

}
@media (min-width: map-get($breakpoints, medium)) and (max-width: (map-get($breakpoints, large) - 1)) {

    .container {
        margin: 0 10px;
    }
    .content {
        width: 61.8%;
        float: left;
    }
    .sidebar {
        width: 38.2%;
        float: left;
    }

}
@media (min-width: map-get($breakpoints, large)) {

    .container {
        max-width: 960px;
    }

    .content {
        width: 61.8%;
        float: left;
    }
    .sidebar {
        width: 38.2%;
        float: left;
    }

}